@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.display-1 {
    font-size: 50px;
    font-weight: bold;
}

.display-3 {
    font-size: 40px;
    font-weight: bold;
}

.judul {
    font-weight: bold;
}

/* Banner */
.banner {
    background: url(/img/Banners.avif) no-repeat center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

/* staff */
.tim img {
    width: 250px;
    border: 10px solid #c2cdd0;
}

.sosial {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

/* About Us */
.judul {
    font-size: 30px;
}